body{
  font: 15px/1.5 arial,helvetica,sans-serif;
  padding: 0;
  margin: 0;
  /*background-color: #f4f4f4;*/
 
 }
 
 .container{
     width: 80%;
     margin: auto;
     overflow: hidden;
 }
 
 .dark{
   padding: 15px;
   /*background: #35424a;*/
   background: #32a0c2;
   color: #ffffff;
   margin-top: 10px;
   margin-bottom: 10px;
 }
 
 ul{
     margin: 0;
     padding: 0;
   }
 
 header{
     /* background-color: #35424a; */
     background-color: #353637;
     color: white;
     padding-top: 15px;
     min-height: 50px;
     border-bottom: #32a0c2 3px solid;
 }
 
 header a{
     color: white;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 14px;
 }
 
 header li{
     float: left;
     display: inline;
     padding: 0 20px 0 20px;
   }
   
   header #branding{
     float: left;
   }
   
   header #branding h1{
     margin: 0;
   }
 
 header nav{
     float: right;
   margin-top: 5px;
 
 }
 
 header .highlight, header .active a{
     color: #32a0c2;
     font-weight: bold;
   }
   
 header a:hover{
     color: #cccccc;
     font-weight: bold;
   }
 @media(max-width: 768px){
   header #branding,
   header nav,
   header nav li,{
     float: none;
     text-align: center;
     width: 100%;
   }
 
   header{
     padding-bottom: 20px;
   }
   }
 
 /* log in form */
 .form{
     background:#f1f1f1; width:470px; margin:0 auto; padding-left:50px; padding-top:20px;
     }
 
 .form p.contact { font-size: 12px; margin:0px 0px 10px 0;line-height: 14px; font-family:Arial, Helvetica;}
 
 .form input[type="text"] { width: 400px; }
     
 .form input[type="email"] { width: 400px; }
     
 .form input[type="password"] { width: 400px; }
 
 .form label { color: #000; font-weight:bold;font-size: 12px;font-family:Arial, Helvetica; }
 
 .form input.buttom{ background: #32a0c2; display: inline-block; padding: 5px 10px 6px; color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-size: 14px; font-family:Verdana, Geneva, sans-serif;}
 .form input.buttom:hover{ background-color: #2a78f6; }       
 .form input, textarea { background-color: rgba(255, 255, 255, 0.4); border: 1px solid rgba(122, 192, 0, 0.15); padding: 7px; font-family: Keffeesatz, Arial; color: #4b4b4b; font-size: 14px; -webkit-border-radius: 5px; margin-bottom: 15px; margin-top: -10px; }
 .form input:focus, textarea:focus { border: 1px solid #ff5400; background-color: rgba(255, 255, 255, 1); }
 
 /*records form*/
 .form1{
     background:#32a0c2; width:25%; margin:0 auto; padding:5px ; float: right;
     }
 
 .form1 p.contact { font-size: 12px; margin:0px 0px 10px 0;line-height: 14px; font-family:Arial, Helvetica;}
 
 .form1 input[type="text"] { width: 90%; }
 .form1 input[type="textarea"] { width: 90%; }
     
 
 
 .form1 label { color: #000; font-weight:bold;font-size: 12px;font-family:Arial, Helvetica; }
 
 .form1 input.buttom{ background: #32a0c2; display: inline-block; padding: 5px 10px 6px; color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-size: 14px; font-family:Verdana, Geneva, sans-serif;}
 .form1 input.buttom:hover{ background-color: #2a78f6; }       
 .form1 input, textarea { background-color: rgba(255, 255, 255, 0.4); border: 1px solid rgba(122, 192, 0, 0.15); padding: 7px; font-family: Keffeesatz, Arial; color: #4b4b4b; font-size: 14px; -webkit-border-radius: 5px; margin-bottom: 15px; margin-top: -10px; }
 .form1 input:focus, textarea:focus { border: 1px solid #ff5400; background-color: rgba(255, 255, 255, 1); }
 
 aside #sidebar{
   float: right;
   width: 30%;
   padding: 5px;
 }
 
 
   footer{
     padding: 20px;
     margin-top: 20px;
     color: #ffffff;
     background-color: #32a0c2;
 
     text-align: center;
     /*position: fixed;*/
     left: 0;
     bottom: 0;
     width: 100%;
     overflow: hidden;
   }
 
   .container1{
     width: 80%;
     overflow: hidden;
   }
 
 
 #t01 {
   width: 100%;
   border-bottom: 2px solid black ;
   text-transform: uppercase;
   border-collapse: collapse;
   overflow: hidden;
   }
 
 tbody {
   width: 100%;
 }  
  table td , th {
 
   padding: 16px;
   text-align: center;
   border-collapse: collapse;
   
  }
 
  td th {
   border: 2px solid #32a0c2 ;
 
 
  }
 
  table#t01 tr:nth-child(even) {
     background-color: #eee;
 }
 table#t01 tr:nth-child(odd) {
     background-color: #fff;
 }
 table#t01 th {
     color: white;
     background-color: #32a0c2;
 }
 
 .tresponsive {
   overflow-x:auto;
 }
 
 /* Style buttons */
 .btn {
     background-color: #353637; /* Blue background */
     border: none; /* Remove borders */
     color: white; /* White text */
     padding: 12px 16px; /* Some padding */
     font-size: 16px; /* Set a font size */
     cursor: pointer; /* Mouse pointer on hover */
 }
 
 /* Darker background on mouse-over */
 .btn:hover {
     background-color: #32a0c2;
 }
 
 .btn-success {
     border-color: #4CAF50;
     color: green;
 
     border: 2px solid black;
     background-color: white;
     color: black;
     padding: 14px 28px;
     font-size: 16px;
     cursor: pointer;
     border-radius: 5px;
      
 
 }
 a.btn-success {
   text-decoration: none;
     color: initial;
 
 }
 
 .btn-success:hover {
     background-color: #32a0c2;
     color: white;
 }
 
 #text-center {
   text-align: center;
 }
 
 /* Float to the right on screens that are equal to or less than 768px wide */
 @media (max-width: 768px) {
   .float-right-sm {
     float: right;
   }
 }
 
 /* Float to the right on screens that are equal to or greater than 769px wide */
 @media (min-width: 769px) {
   .float-right-lg {
     float: right;
   }
 }
 
 .container2{
     width: 90%;
     margin: auto;
     overflow: hidden;
 }
 
 #googleMap {
 
   width:70%;
   height:500px; 
   float: left;
 }

 #container3{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.heading h2 {

  color: #32a0c2;
  font-weight: 400;
  /* font-size: 1.4rem; */
  margin-bottom: 10px;
}
.heading p {
  margin-bottom: 10px;

}
.card{
 
  padding: 0 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
     width: 47%;
     float: left;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.user-name{
  font-size: 1rem;
  display: block;
  /* margin: 10px 0 ; */
  text-align: center;

}
.user-title a {
  text-decoration: none;
  color:#32a0c2;
}
.user-title{
  font-size: 0,8rem;
  display: block;
  /* margin: 10px 0 ; */
  text-align: center;

}
.user-title1 {
  font-size:1rem;
  color:#32a0c2;
  text-align: center;
  display: block;

}
 
